.album-title {
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}

.album-title:hover {
  text-decoration: underline;
}

.artist-title,
.artist-title a {
  font-size: 14px;
  color: #a0a0a0;
}

.artist-title:hover a {
  text-decoration: underline;
  color: #fff;
}
